button.is-primary {
  background-color: var(--purple-primary) !important;
  color: var(--yellow-primary) !important;
}

button.is-primary:hover {
  background-color: var(--purple-secondary) !important;
  box-shadow: 0px 0px 3px var(--purple-primary);
}
